html , body {
  height:100%;
  font-family: sans-serif;
}

body, h1, h2, h3, h4, h5, p {
  margin:0em;
}

body { 
  background-color:#FFFFFF; /*#F0F0F0;*/
 }

#titlebar {
  text-align:center;
  background-color:#1F6B75;
  color:#FF7A00;
  position:relative;
  width:100%;
  z-index:100;
  margin-bottom:1em;
}

.recom_box {
  position:relative;
  z-index:1;
  margin:1em;
  padding:0.7em;
  border-width:0.2em;
  border-color:#A3B6BF;
  border-style:solid;
  border-radius:0.3em;
  margin-right:19em;
}

.recom_title {
  position:relative;
}

.recom_logo {
  position:relative;
  margin-top :1em;
  margin-left:0em;
  margin-bottom:0em;
  margin-right:1em;
  height:6em;
  width:8em;
  background-color:#AAAAAA;
  float:left;
  z-index:10;
}

.recom_logo_container {
  display: inline-block;
  position: relative;
  width: 20%;
  float:left;
  margin-top :1em;
  margin-left:0em;
  margin-bottom:0em;
  margin-right:1em;
  /*margin: 0 25%;*/
  /*float:left;*/
}
.recom_logo_dummy {
  padding-top: 75%; /* 4:3 aspect ratio */
}
.recom_logo_element {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:#AAAAAA;
}

.recom_description {
  position:relative;
  margin:1em;
  z-index:9;
}



#container {
  display: inline-block;
  position: relative;
  width: 50%;
  float:left;
  margin-bottom:1em;
}
#dummy {
  padding-top: 75%; /* 4:3 aspect ratio */
}
#element {
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index:10;
  border-color:#AAAAAA;
  border-width:1px;
  border-style:solid;
}

#watching_logo {
  position:absolute;
  width:100%;
}

#selector {
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height:100%;
  z-index:9;
}

#element:hover ~ #selector , #selector:hover {
  position:absolute;
  top:0;
  left:0;
  width:200%;
  height:200%;
  background-color:#888888;
}

.selector_logo_container {
  width:12.5%;
  height:12.5%;
  float:left;
}
.selector_logo_container>div
  height: 100%
  width: 100%
  background-size: contain
  background-repeat: no-repeat
  background-position: center center

  
#status {
  margin-bottom:1em;
}


.feedback_button {
  text-align:center;
  cursor:default;
  float:left;
  font-size:2em;
  width:50%;
  float:left;
}

.feedback_button:hover {
  text-transform:uppercase;
}

.recom_wrapper {
  padding: 0 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.feedback_wrapper {
  padding: 0 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}

@media screen and (min-width: 35em) {
  .feedback_wrapper {
    width: 33.3333333%;
    float:right;
  }
  .recom_wrapper {
    width: 66.6666666%;
    float:left;
  }
  
  #element:hover ~ #selector , #selector:hover{
  position:absolute;
  top:0;
  left:-300%;
  width:400%;
  height:300%;
  background-color:#888888;
  }
}