//common declarations

background_color_dark = #1F6B75
text_color_bright = #FF7A00
border_color = #A3B6BF
background_color = #F0F0F0


//document declarations

html , body 
  height:100%
  font-family: sans-serif


body, h1, h2, h3, h4, h5, p
  margin:0em


body
  background-color:background_color
  z-index:1


#titlebar
  text-align:center
  background-color:background_color_dark
  color:text_color_bright
  position:relative
  width:100%
  z-index:100


.recom_box
  position:relative
  z-index:1
  margin:1em
  padding:0.7em
  border-width:0.2em
  border-color:border_color
  border-style:solid
  border-radius:0.3em
  margin-right:19em
  min-height:8.2em


.recom_title
  position:relative


.recom_logo
  position:relative
  margin-top :1em
  margin-left:0em
  margin-bottom:1em
  margin-right:1em
  height:6em
  width:8em
  background-color:#FFFFFF
  float:left
  z-index:10


.recom_description
  position:relative
  margin:1em
  z-index:9


#right_coloumn
  position:relative
  width:18em
  float:right
  //background-color:#FFFFFF
  background-color:background_color


#watching_title
  position:relative
  margin:1em


#watching_wrapper
  width:14em
  height:11em
  position:relative
  right:0em
  margin:1em
  margin-left:2em


#watching_container 
  overflow:hidden
  position:absolute
  top:0em
  right:0em
  height:9em
  width:12em
  z-index:10
  background-color:background_color
  border-width:1em
  border-color:border_color
  border-style:solid
  border-radius:1em
  box-shadow: 0.5em 0.5em 0.5em #808080


#watching_logo_background 
  position:absolute
  top:0em
  right:0em
  height:9em
  width:12em
  z-index:10
  background-color:background_color
 


#watching_container:hover 
  width:46.125em /*39.5em*/
  height:18em


#watching_select 
  margin:0
  padding:0
  position:absolute
  top:0em
  left:0em
  width:34.125em /*27.5em*/
  height:18em
  overflow:auto
  background-color:border_color


.testlogo 
  position:relative
  width:6em
  height:4.5em
  background-color:background_color
  margin:0.0625em
  border-width:0.25em
  border-color:background_color
  border-style:outset
  float:left


#watching_logo 
  right:0
  position:absolute
  height:1em
  width:1.333em
  line-height:1em
  color:#1F6B75
  font-size:9em
  text-align:center
  animation-name: turning_logo
  animation-duration: 10s
  animation-iteration-count: infinite
  animation-timing-function: ease-in-out


@keyframes turning_logo 
  0%
    transform:scaleX(1)
  5% 
    transform:scaleX(-1)
  10% 
    transform:scaleX(1)
  100% 
    transform:scaleX(1)


#watching_description 
  position:relative
  margin:1em
  margin-top:2em

  
#feedback
  padding:0.5em
  //background-color:#333333
  background-color:background_color_dark
  position:relative
  margin-top:2em
  box-shadow:  inset 0.25em 0.25em 0.25em rgba(255,255,255,0.5) , inset 0.25em -0.25em 0.25em rgba(0,0,0,0.5)
  border-top-left-radius:0.5em
  border-bottom-left-radius:0.5em
  
#feedback_title
  margin:1em
  position:relative
  //color:#FFFFFF
  color:text_color_bright

#feedback_showinfo
  margin:1em
  position:relative
  //color:#FFFFFF
  color:text_color_bright
  
#button_feedback_yes
  cursor:default
  font-size:2em
  line-height:1.5em
  text-align:center
  position:relative
  float:left
  width:3em
  height:1.5em
  background-color:#008844
  margin-left:1.25em
  margin-right:0.25em
  margin-bottom:0.5em
  border-radius:1em
  box-shadow: inset 0em 0em 0.75em #000000
  transition: background-color 0.25s
  transition: box-shadow 0.25s
  border-width:0.1em
  border-style:solid
  border-color:#444444
  
#button_feedback_yes:hover
  background-color:#00FF88
  box-shadow: inset 0em 0em 0.5em #000000
  
#button_feedback_no
  cursor:default
  font-size:2em
  line-height:1.5em
  text-align:center
  position:relative
  float:left
  width:3em
  height:1.5em
  background-color:#882200
  border-radius:1em
  box-shadow: inset 0em 0em 0.75em #000000
  transition: background-color 0.25s
  transition: box-shadow 0.25s
  border-width:0.1em
  border-style:solid
  border-color:#444444
  
#button_feedback_no:hover
  background-color:#FF8800
  box-shadow: inset 0em 0em 0.5em #000000